
#mes{
	-fx-font-weight: bold;
	-fx-font-size: 13pt;
	-fx-font-family:Courier New;
}
#diasemana{
	-fx-font-weight: bold;
}

#domingo{	
	-fx-text-fill: red;
}
#festivo{
	-fx-font-weight: bold;
	-fx-text-fill: red;
}
#dia{
	-fx-font-style: italic; 
}
#diaDomigo{
	-fx-font-style: italic; 
	-fx-text-fill: red
}

#hoy{
	-fx-background-color: linear-gradient(to bottom right, white 0%, orange 100%);
	-fx-border-radius: 10px;
	-fx-border-style: dashed;
	-fx-background-radius: 10px;
	-fx-font-weight: bold;
	-fx-font-style: normal;
	-fx-text-fill: black;
}